@use 'mixins' as *;

.button {
  display: flex;
  justify-content: center;

  border-radius: 24px;
  border: none;
  outline-width: 2px;
  outline-style: solid;
}

.backgroundColor {
  @include generate-background-styles;
}

.borderColor {
  @include generate-border-styles;
}
