.loaderPage {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  &Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
  }
}

