@use 'variables' as *;
@use 'breakpoints' as *;

.item {
  cursor: pointer;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  padding: 1rem 132px;

  max-width: 600px;
  max-height: 300px;
  width: 100%;
  height: 300px;

  border-radius: 28px;

  @include laptop-height-900 {
    height: 250px;
  }

  @include laptop-height-800 {
    height: 230px;
  }
}

.cup {
  margin-bottom: 0.25rem;

  @include laptop-height-800 {
    & svg {
      width: 55px;
      height: 55px;
      aspect-ratio: 1/1;
    }

    margin-bottom: -5px;
  }

  @include width-1100 {
    & svg {
      width: 44px;
      height: 44px;
      aspect-ratio: 1/1;
    }

    margin-bottom: 0;
  }
}

.arrow {
  position: absolute;

  bottom: 1rem;
  right: 2rem;
}
